body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #workout-program {
    margin-top: 20px;
  }
  
  video {
    margin-top: 20px;
  }

  #info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#info-container h3::after,
#info-container p::after {
    content: "  ";
    color: black;
}

#block-name { color: red; }
#exercise-name { color: green; }
#round-info { color: blue; }
#reps-info { color: purple; }

#workout-video {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

#prevButton {
    background-color: purple;
    color: white;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
}

#nextButton {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

button {
    margin-top: 20px;
    text-align: center;
}